name: Deploy MkDocs site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material

      - name: Build MkDocs site
        run: |
          mkdocs build
          ls -l ./site

      - name: Check file permissions in ./site
        run: |
          ls -l ./site

      - name: Check size of ./site
        run: |
          du -sh ./site

      - name: Remove symlinks and hardlinks (if any)
        run: |
          find ./site -type l -exec rm -f {} \;
          find ./site -type f -links +1 -exec rm -f {} \;
          find ./site -type d -empty -exec rmdir {} \;

      - name: Compress the entire site into a ZIP file
        run: |
          zip -r ./site.zip ./site

      - name: Upload artifact (ZIP file)
        uses: actions/upload-artifact@v4
        with:
          name: site-zip  # Nome corretto dell'artifact
          path: ./site.zip
          retention-days: 1  # Mantiene l'artifact solo per 1 giorno

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Download the artifact (ZIP file)
        uses: actions/download-artifact@v4
        with:
          name: site-zip  # Nome corretto dell'artifact

      - name: Extract the ZIP file
        run: |
          unzip ./site.zip -d ./site
          rm ./site.zip

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
